#################################################
# OS
#################################################

.DS_Store
*~

#################################################
# IDE / Editor
#################################################

.vscode/
.idea/
*.swp
*.swo

#################################################
# Git
#################################################

.git/
.gitignore
.gitattributes

#################################################
# Python
#################################################

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
dist/
build/

venv/
env/
ENV/
.venv/

.pytest_cache/
.coverage
htmlcov/
.tox/
*.cover

#################################################
# Node / Frontend
#################################################

node_modules/
npm-debug.log*

dist/
build/

#################################################
# Environment variables
#################################################

.env
.env.local
*.local

#################################################
# Docker
#################################################

Dockerfile
docker-compose.yml
.dockerignore

#################################################
# CI/CD
#################################################

.github/
.gitlab-ci.yml
.travis.yml

#################################################
# Terraform
#################################################

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.auto.tfvars
crash.log

#################################################
# Logs
#################################################

*.log
logs/

#################################################
# Banco de dados
#################################################

*.sqlite
*.db
postgres_data/

#################################################
# Docs
#################################################

*.md
docs/
README.md
LICENSE

#################################################
# Temporary files
#################################################

*.tmp
*.bak

#################################################
# Projeto
#################################################

frontend/
infra/
k8s/
migration/
tests/

mise.toml