version: "3.9"

services:
  db:
    image: postgres:16
    container_name: agenda_db
    environment:
      POSTGRES_DB: agenda
      POSTGRES_USER: agenda_user
      POSTGRES_PASSWORD: agenda_pass
      POSTGRES_HOST_AUTH_METHOD: md5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /tmp
      - /var/run/postgresql
      
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U agenda_user -d agenda"]
      interval: 5s
      timeout: 5s
      retries: 5
  
volumes:
  postgres_data: