kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  kubeadmConfigPatches:
  - |
    kind: InitConfiguration
    nodeRegistration:
      kubeletExtraArgs:
        node-labels: "ingress-ready=true"
  extraPortMappings:
  - containerPort: 80   # HTTP do Ingress
    hostPort: 80
    protocol: TCP
  - containerPort: 443  # HTTPS do Ingress
    hostPort: 443
    protocol: TCP