apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      # securityContext:
      #   runAsNonRoot: true
      #   runAsUser: 999       
      #   fsGroup: 999
      
      containers:
        - name: postgres
          image: postgres:16
          
          # securityContext:
          #   allowPrivilegeEscalation: false
          #   runAsNonRoot: true
          #   runAsUser: 999
          #   capabilities:
          #     drop:
          #       - ALL
          
          env:
            - name: POSTGRES_DB
              value: agenda
            - name: POSTGRES_USER
              value: agenda_user
            - name: POSTGRES_PASSWORD
              value: agenda_pass
          
          ports:
            - containerPort: 5432
          
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      
      volumes:
        - name: postgres-storage
          emptyDir: {}  