name: CI - App Web

on: 
    pull_request:
      branches: ["main"]
    push:
      branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: agenda
          POSTGRES_USER: agenda_user
          POSTGRES_PASSWORD: agenda_pass
          POSTGRES_HOST_AUTH_METHOD: md5
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4
      
      - name: configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Criar banco de teste
        env:
          PGPASSWORD: agenda_pass
        run: |
          psql -h localhost -U agenda_user -d agenda -c "CREATE DATABASE agenda_test;"

      - name: Rodar testes
        run: |
          pytest

      - name: Rodar Semgrep (SAST)
        uses: semgrep/semgrep-action@v1
        with:
            config: "p/default"
        env:
          SEMGREP_RULES: auto