name: CI - App Web

on: 
    pull_request:
      branches: ["main"]
    push:
      branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: agenda_test
          POSTGRES_USER: agenda_user
          POSTGRES_PASSWORD: agenda_pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      DATABASE_URL: postgresql://agenda_user:agenda_pass@localhost:5432/agenda_test

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4
      
      - name: configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar testes
        run: |
          pytest -v

      - name: Rodar Semgrep (SAST)
        uses: semgrep/semgrep-action@v1
        with:
            config: "p/default"
        env:
          SEMGREP_RULES: auto
