name: CI - App Web

on: 
    pull_request:
      branches: ["main"]
    push:
      branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4
      
      - name: configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar testes
        run: |
          pytest

      - name: Rodar Semgrep (SAST)
        uses: semgrep/semgrep-actions@v1
        with:
            config: "p/default"
        env:
          SEMGREP_RULES: auto